services:
  # ----------------------------
  # API Service
  # ----------------------------
  api:
    build:
      context: .
      dockerfile: api/Dockerfile
    container_name: api_cache_service
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  # ----------------------------
  # DB Service
  # ----------------------------
  db:
    build:
      context: .
      dockerfile: db/Dockerfile
    container_name: db_service
    ports:
      - "8001:8001"
    env_file:
      - .env

  # ----------------------------
  # Prometheus
  # ----------------------------
  prometheus:
    image: prom/prometheus:v2.51.2
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    depends_on:
      - api
      - db

  # ----------------------------
  # Grafana
  # ----------------------------

  grafana:
    image: grafana/grafana:10.3.1
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/datasources:/etc/grafana/provisioning/datasources:ro
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards:ro
      - ./grafana/dashboards:/etc/grafana/dashboards:ro
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
    depends_on:
      - prometheus